<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :Brand %>
		<br/>
    <%= form.collection_select :brand_id, @brands, :id, :name, include_blank: true %>
  </div>

  <div class="mb-3">
    <%= form.label :Model, 'Model' %>
    <%= form.text_field :Model, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Engine_Type, 'Engine Type' %>
    <%= form.text_field :Engine_Type, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Drive_Type, 'Drive Type' %>
    <%= form.text_field :Drive_Type, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Transmission %>
    <%= form.text_field :Transmission, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Exterior_Color, 'Exterior Color' %>
    <%= form.text_field :Exterior_Color, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Interior_Color, 'Interior Color' %>
    <%= form.text_field :Interior_Color, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Passenger_Capacity, 'Passenger Capacity' %>
    <%= form.number_field :Passenger_Capacity, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :Price %>
    <%= form.text_field :Price, class:"form-control" %>
  </div>

	<div class="mb-3">
		<%= form.label :images %>
		<%= form.file_field :images, multiple: true, class:"form-control" %>
	</div>
	<br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
