<%= form_with(model: car) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
        <% car.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :Brand %>
		<br/>
    <%= form.collection_select :brand_id, @brands, :id, :name, :include_blank => 'Select brand' %>
  </div>

  <div class="mb-3">
    <%= form.label :model, 'Model' %>
    <%= form.text_field :model, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :engine_type, 'Engine Type' %>
    <%= form.text_field :engine_type, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :drive_type, 'Drive Type' %>
    <%= form.text_field :drive_type, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :transmission %>
    <%= form.text_field :transmission, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :exterior_color, 'Exterior Color' %>
    <%= form.text_field :exterior_color, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :interior_color, 'Interior Color' %>
    <%= form.text_field :interior_color, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :passenger_capacity, 'Passenger Capacity' %>
    <%= form.number_field :passenger_capacity, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :price %>
    <%= form.text_field :price, class:"form-control" %>
  </div>

	<div class="mb-3">
		<%= form.label :images %>
		<%= form.file_field :images, multiple: true, class:"form-control" %>
	</div>
	<br/>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary" %>
  </div>
<% end %>
