<div class="container text-center">
	<h1>All Cars</h1>
</div>
<br/>
<div class="container border small">
	<br/>
	<div class="row row-cols-1 row-cols-md-3">
  <% @cars.each do |car| %>
      <div class="col-md-3">
        <div class="card h-100">
          <%= link_to (image_tag car.images.first, class: 'card-img-top', height: 300, width: 300), car if car.images.attached?%>
          <div class="card-body">
            <h5 class="card-title text-left"> <%= link_to car.model, car %>
							<br/>
							<br/>
							<%= car.price %>
						</h5>
						<br/>
            <p class="card-text">
        			<%= link_to 'Edit', edit_car_path(car) %> <%= button_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>
  <% end %>
</div>
<br/>
	<div class="text-center">
	<%= link_to 'New Car', new_car_path %>
	</div>
<br/>
</div>
